.category-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.category-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.category-title {
  font-weight: bold !important;
  font-size: 1.25rem !important;
}

.feature-toggle-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  margin-top: 16px !important;
}
